@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-nunito);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[class*="textarea"] {
  resize: none !important;
  overflow: auto !important;
  scrollbar-width: none !important; /* Firefox */
}

[class*="textarea"]::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Edge */
}

@layer components {
  .dark .skeleton {
    background-color: rgb(255 255 255 / 0.08);
  }

  .dark .skeleton--shimmer::before {
    background: linear-gradient(
      90deg,
      transparent,
      rgb(255 255 255 / 0.12),
      transparent
    ) !important;
  }
}
